<section>

  <div class="signup">

    <h1 class="signup__title">Planner.</h1>

    <form class="signup__form" [formGroup]="form" (ngSubmit)="submit()">

      <div class="signup__form-field">
        <label>Username</label>
        <input type="text" class="signup__form-field" formControlName="username"/>
      </div>

      <div class="signup__form-field">
        <label>Password</label>
        <input type="password" class="signup__form-field" formControlName="password"/>
      </div>

      <div class="signup__form-field">
        <label>Confirm Password</label>
        <input type="password" class="signup__form-field" formControlName="confirmPassword"/>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>

  <div class="signup__banner">
    <h1>Let's grow the future <strong>together</strong>.</h1>
    <button type="button">Learn More</button>
  </div>

</section>
